<div class="container">
  <div class="crossing-info">
    <h2><%= @crossing.crossing_name %></h2>
    <h4><%= @crossing.latitude %> / <%= @crossing.longitude %></h4>
    <h4><%= @prefecture.prefecture_name %></h4>
    <h4><%= @city.city_name %></h4>
    <h4><%= @railway.railway_name %></h4>
  </div>
  <div>
    <%= link_to '投稿', new_crossing_post_path(@crossing.crossing_id), class: 'btn btn-warning' %>
  </div>
  <%# 該当するpostデータをループさせてcardを表示する %>
  <div class="post-index my-4">
    <% @posts.each do |post| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag post.crossing_image.url, class: "card-img-top" %>
        <div class="card-body">
          <%= link_to post.title, crossing_post_path(post.crossing_id, post.id), class: 'card-title' %>
        </div>
      </div>
    <% end %>
  </div>
</div>