<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h2 class="mb-4">プロフィール編集</h2>
      <%= form_with model: @user, url: profile_path, method: :patch do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="mb-4">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="d-flex justify-content-center">
          <%= f.submit "変更", class: "btn btn-warning rounded-pill shadow px-4", id: "update-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</end>