<tr id="comment-<%= comment.id %>">
  <td style="width: 60px">
    <% if comment.user.avatar.present? %>
      <%= image_tag comment.user.avatar.url, class: 'rounded-circle', width: '30', height: '30' %>
    <% else %>
      <%= image_tag 'sample.jpg', class: 'rounded-circle', width: '30', height: '30' %>
    <% end %>
  </td>
  <td class="w-100">
    <h3 class="small"><%= comment.user.name %></h3>
    <p><%= simple_format(comment.body) %></p>
  </td>
  <% if current_user && current_user.own?(comment) %>
    <td class="action text-nowrap align-middle">
      <%= link_to crossing_post_comment_path(comment.post.crossing_id, comment.post_id, comment), class: "delete-comment-link btn btn-outline-danger btn-sm rounded-pill py-0", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
        <i class="bi bi-trash-fill"></i>
      <% end %>
    </td>
  <% end %>
</tr>