<div class="mb-5">
  <div class="crossing-info text-center">
    <h4><%= crossing.crossing_name %></h4>
    <p class="mb-2">
      <%= link_to "#{crossing.latitude} / #{crossing.longitude}", "https://www.google.com/maps?q=#{crossing.latitude},#{crossing.longitude}", target: "_blank", rel: "noopener noreferrer" %>
    </p>
    <p class="mb-2"><%= crossing.city.prefecture.prefecture_name %></p>
    <p class="mb-2"><%= crossing.city.city_name %></p>
    <p class="mb-2"><%= crossing.linked_railways.first.railway_name %></p>
  </div>
  <div class="z-0" id="map" style="width: 100%; height: 350px;"></div>
</div>


<script>
  // 地図の初期設定
  var map = L.map('map').setView([<%= crossing.latitude %>, <%= crossing.longitude %>], 13);  // 東京の緯度経度を指定

  L.tileLayer('https://tile.thunderforest.com/transport/{z}/{x}/{y}.png?apikey=abd7cf1c7d9d4b06b660b84796899098' , {
    attribution: '&copy; <a href="https://www.thunderforest.com/">Thunderforest</a> contributors'
  }).addTo(map);

  var marker = L.marker([<%= crossing.latitude %>, <%= crossing.longitude %>]).addTo(map);
</script>