<div class="post-index my-4">
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-12 col-md-6 col-lg-4 mb-3" id="post-id-<%= post.id %>">
        <div class="card shadow-sm" style="width: 100%;">
          <%= image_tag post.crossing_image.url, class: "card-img-top" %>
          <div class="card-body">
            <%= link_to post.title, crossing_post_path(post.crossing_id, post.id), class: 'card-title text-decoration-none fw-semibold' %>
            <p class="text-secondary"><i class="bi bi-calendar-event-fill me-2"></i><%= l post.created_at, format: :default %></p>
            <div class="d-flex">
              <p class="text-secondary"><i class="bi bi-person-fill me-2"></i><%= post.user.name %></p>
              <% if current_user && current_user.own?(post) %>
                <div class='ms-auto'>
                  <%= link_to edit_crossing_post_path(post.crossing_id, post.id), class: "btn btn-outline-info btn-sm rounded-pill py-0 px-2", id: "button-edit-#{post.id}" do %>
                    <i class="bi bi-pencil-fill"></i>
                  <% end %>
                  <%= link_to crossing_post_path(post.crossing_id, post.id), class: "btn btn-outline-danger btn-sm rounded-pill py-0 px-2", id: "button-delete-#{post.id}", data: { turbo_method: :delete, turbo_confirm: '投稿を削除しますか？' } do %>
                    <i class="bi bi-trash-fill"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <% post.tag_list.each do |tag| %>
              <span class="badge bg-dark-subtle mr-2 mb-2">
                <%= link_to "#{tag}", posts_path(tag_name: tag), class: 'text-decoration-none text-secondary' %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>