<div class="container">
  <h2>投稿一覧</h2>
  <div class="row">
    <div class="search-area col-sm-12 col-md-4 col-lg-3">
      <h5 class="mt-5">投稿を探す</h5>
      <div class="search_form">
        <%= form_with model: @q, scope: :q, url: posts_path, method: :get, class: 'flex-column mt-2' do |f| %>
          <%= f.select :crossing_city_prefecture_prefecture_id_eq, Prefecture.pluck(:prefecture_name, :prefecture_id), { include_blank: '都道府県' }, class: 'form-select shadow mt-3', id: 'select-prefecture' %>
          <%= f.select :crossing_city_city_id_eq, [], { include_blank: '市町村' }, class: 'form-select shadow mt-3', id: 'select-city' %>
          <div data-controller="autocomplete" data-autocomplete-url-value="/railway_search/search" role="combobox">
            <%= f.search_field :crossing_linked_railways_railway_name_cont, data: { autocomplete_target: 'input' }, class: 'form-control shadow mt-3', placeholder: '路線名を入力' %>
            <%= f.hidden_field :crossing_linked_railways_railway_name, data: { autocomplete_target: 'hidden' } %>
            <ul class="railroad-candidate list-group bg-white position-absolute list-unstyled fs-6 overflow-auto" data-autocomplete-target="results"></ul>
          </div>
          <%= f.search_field :user_name_or_title_or_body_cont, class: 'form-control shadow mt-3', placeholder: 'フリーワード' %>
          <%= f.submit '検索', class: 'btn btn-warning shadow mt-3 w-25' %>
          <% Prefecture.all.each do |prefecture| %>
            <template id="city-of-prefecture<%= prefecture.prefecture_id %>">
              <%= f.select :crossing_city_city_id_eq, prefecture.cities.pluck(:city_name, :city_id), { include_blank: '市町村' }, class: 'form-select shadow mt-3', id: 'select-city' %>
            </template>
          <% end %>
        <% end %>
      </div>
      <div class="tag-list mt-5">
        <h5 class="mt-5">タグ</h5>
        <% @tags.each do |tag| %>
          <span class="badge bg-dark-subtle mr-2 mb-2">
            <%= link_to "#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name), class: 'text-decoration-none text-secondary' %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="main-area col-sm-12 col-md-8 col-lg-9">
      <%= render 'shared/post', posts: @posts %>
    </div>
  </div>
</div>

<script>
// 取得したテキストをhtmlに変換する関数
  function stringToHTML(str) {
    var dom = document.createElement('div');
    dom.innerHTML = str;
    return dom.firstElementChild;
  };

//検索セレクトボックスを動的に変化させる
  document.addEventListener('turbo:load', function () {
    const selectPrefecture = document.getElementById("select-prefecture");
    const defaultCitySelect = `<select class="form-select shadow mt-3" id="select-city" name="q[city_city_id_eq]">
    <option value>市町村</option>
    </select>`;

    selectPrefecture.addEventListener('change', function() {
      if (selectPrefecture.value !== '') {
        const selectCity = document.getElementById("select-city");
        selectCity.remove();

        // 選択されたカテゴリーに応じたHTMLを挿入
        let selectedTemplate = document.querySelector(`#city-of-prefecture${selectPrefecture.value}`);
        selectPrefecture.after(stringToHTML(selectedTemplate.innerHTML));

      } else {
        const selectCity = document.getElementById("select-city");
        // サブカテゴリー選択用のセレクトボックスを削除
        selectCity.remove();
        // ダミーのセレクトボックスを挿入
        selectPrefecture.after(stringToHTML(defaultCitySelect));
      };
    });
  });
</script>

