<div class="container">
  <%= render 'shared/crossing_info', crossing: @crossing %>
  <div class="post-area d-flex justify-content-around">
    <div class="crossing-image">
      <%= image_tag @post.crossing_image.url %>
    </div>
    <div class="post-info">
      <div class="post-title">
        <h3><%= @post.title %></h3>
      </div>
      <div>
        <% if current_user && current_user.own?(@post) %>
          <div class='ms-auto'>
            <%= link_to edit_crossing_post_path(@post.crossing_id, @post.id), class: "btn btn-link p-0", id: "button-edit-#{@post.id}" do %>
              <i class="bi bi-pen-fill"></i>
            <% end %>
            <%= link_to crossing_post_path(@post.crossing_id, @post.id), class: "btn btn-link p-0", id: "button-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: '投稿を削除しますか？' } do %>
              <i class="bi bi-trash3-fill"></i>
            <% end %>
          </div>
        <% else %>
          <div class='ms-auto'>
            <%= render 'favorites/favorite_button', post: @post, crossing: @crossing %>
          </div>
        <% end %>
        <div>
          <p>いいね <%= @favorites.count %></p>
        </div>
      </div>
      <div class="post-body">
        <p><%= @post.body %></p>
      </div>
      <%= render 'comments/form', crossing: @crossing, comment: @comment, post: @post %>
      <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <tbody id="table-comment">
            <%= render @comments %>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>