<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class=" col-md-10 col-lg-8 mx-auto">
      <h2 class="mb-4">ログイン</h2>
      <%= form_with url: login_path do |f| %>
      <%= render 'shared/error_messages', object: @user %>
        <div class="mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control border-0 shadow" %>
        </div>
        <div class="mb-4">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control border-0 shadow" %>
        </div>
        <div class="d-flex align-items-center justify-content-center mb-2">
          <%= f.label :remember_me, class:'me-2' %>
          <%= f.check_box :remember_me, {}, "1", "0" %>
        </div>
        <div class="d-flex justify-content-center">
          <%= f.submit "ログイン", class: "btn btn-warning rounded-pill shadow px-4", value: "ログイン" %>
        </div>
      <% end %>
      <div class="d-flex justify-content-center mt-5">
        <%= link_to auth_at_provider_path(:google), class: 'btn btn-primary rounded-pill shadow d-flex align-items-center px-4 gap-2', data: { turbo: false } do %>
          <i class="bi bi-google text-light"></i>
          <p class="text-light">Login with Google</p>
        <% end %>
      </div>
      <div class='text-center mt-4'>
        <%= link_to 'アカウント登録', new_user_path, class: 'btn btn-warning rounded-pill shadow mb-3 px-4' %>
        <%= link_to t('.password_forget'), new_password_reset_path, class: 'btn btn-warning rounded-pill shadow mb-3 px-4' %>
      </div>
    </div>
  </div>
</div>