<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= favicon_link_tag('favicon.png') %>
    <link rel="icon" href="favicon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <%= javascript_importmap_tags %>
    <%= display_meta_tags(default_meta_tags) %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QN2G27XZPS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QN2G27XZPS');
    </script>
  </head>

  <body class="d-flex flex-column vh-100">
    <% if request.path == '/' %>
      <% if logged_in? %>
        <%= render 'shared/root_header' %>
      <% else %>
        <%= render 'shared/before_login_root_header' %>
      <% end %>
    <% else %>
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <% unless current_page?(root_path) %>
      <div class="fixed-breadcrumb w-100 bg-light">
        <%= breadcrumbs separator: " &rsaquo; " %>
      </div>
    <% end %>
    <main class="mb-auto">
      <%= yield %>
      <%= yield(:js) %>
    </main>
    <% if request.path != '/' %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
