<!DOCTYPE html>
<html>
  <head>
    <title>フミキリのちす</title>
    <%= favicon_link_tag('favicon.png') %>
    <link rel=”icon” href=“favicon.png”>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <%= javascript_importmap_tags %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body class="d-flex flex-column vh-100">
    <% if request.path == '/' %>
      <% if logged_in? %>
        <%= render 'shared/root_header' %>
      <% else %>
        <%= render 'shared/before_login_root_header' %>
      <% end %>
    <% else %>
      <% if logged_in? %>
        <%= render 'shared/header' %>
      <% else %>
        <%= render 'shared/before_login_header' %>
      <% end %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <main class="mb-auto">
      <%= yield %>
      <%= yield(:js) %>
    </main>
    <% if request.path != '/' %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
